body {
    background-image: url("wallpaper20.png");
}

.container {
    text-align: center;
}

.menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    background-color: #c28100;
    border: 0.5em solid #81c200;
    width: 50%;
}

.active {
    background-color: #81c200;
}

li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-family: Roboto, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 6em;
    margin-top: 2em;
    font-family: Tangerine, Georgia, serif;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: Tangerine, Georgia, serif;
}
